#
#	generic gitignore
#

syntax: glob
.DS_Store
*.class
*.ser
*~
*.bak
*.old
*.pyc
*.pyo

# ide
.settings
.classpath
.project
.manager
.pydevproject
.idea

# building
#target
#build
#null
#tmp*

# scm
.svn
.CVS
.hg*

# syntax: regexp
# ^\.pc/

#.
