doctype html
html
  head
    title AriusPay interface
    block css
        link(rel='stylesheet', href='/inc/main.css')
    block scripts
        script(src="/inc/jquery.min.js")
  body

    block top
        | top

    block content
        | content

    block footer
        | footer

//.