doctype html
html
  head
    title
        block title
            | AriusPay interface
    block css
        link(rel='stylesheet', href='/inc/main.css')
    block scripts
        script(src="/inc/jquery.min.js")
        script(src="/inc/ui.js")
  body

    div.b-page

        block top
            .b-topnav
                - var topnav = [ ['Начало', "/"], ["Платеж","/newpay"] ]
                - var dlm = " <span class='dlm'>|</span> "
                != dlm
                each a in topnav
                    a(href="/payment/manager"+a[1]) #{a[0]}
                    != dlm

        block content
            div(class="cn")
                | content should be there

        block footer
            .b-footer
                | Ariuspay nodejs application
                = ' - '
                a(href="https://github.com/maxp/ariuspay") https://github.com/maxp/ariuspay

//.