extends ../layout

block top
    .navbar
    h1 Новый платеж

block content
    .b-newpay
        form.b-form
            .b-field
                label(for="name_id") Имя
                input(type="text", name="name", id="name_id")

            .b-field
                label(for="email_id") Email
                input(type="text", name="email", id="email_id")

            .b-field
                label(for="descr_id") Примечание
                textarea(name="descr", id="descr_id",
                    style="width: 80ex; height: 5em;")

            .b-field
                label(for="amount_id") Сумма
                input(type="text", name="amount", id="amount_id", class="rt")

            .b-field
                button Добавить

