extends ../layout

block top
    .navbar
    h1 Новый платеж

block content
    div
        form.b-form
            input(type="text", name="name")
            br
            input(type="text", name="email")
            br
            input(type="text", name="descr")
            br
            input(type="text", name="amount")

block footer
    .footer
        | footer