/*
 *  ariuspay main.css file
 */

/* reset 2012.06.22 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0; padding: 0; border: 0;
/*    outline: 0; */
    font-size: 100%; font: inherit;
    vertical-align: baseline; background: transparent;
}

article, aside, details, figcaption, figure,
  footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }

/*
:focus { outline: 1px; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
*/


/* --- */

body {
    color: #000;
    background-color: #fff;
    font: normal 10pt Verdana, sans-serif;
}

a { text-decoration: none; color: #00f; }
a:visited { text-decoration: none; color: #00b; }
a:hover { text-decoration: underline; color: #e00; }

.lf { text-align: left; }
.rt { text-align: right; }
.cn { text-align: center; }

.ptr { cursor: pointer; }

.vtop { vertical-align: top; }
.vbot { vertical-align: bottom; }

.amar { margin-left: auto; margin-right: auto; }
.clrb { clear: both; }
.clrl { clear: left; }
.clrr { clear: right; }
.nobr { white-space: nowrap; }

.w100 { width: 100%; }
.w99  { width: 99%; }
.w50  { width: 50%; }
.w10  { width: 10%; }
.w1   { width: 1%; }

.round3 { -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
.round4 { -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }
.round5 { -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.round6 { -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; }

h1 { font-size: 2em;    margin: 0.67em 0; }
h2 { font-size: 1.5em;  margin: 0.83em 0; }
h3 { font-size: 1.17em; margin: 1em    0; }
h4 { font-size: 1em;    margin: 1.33em 0; }
h5 { font-size: 0.83em; margin: 1.67em 0; }
h6 { font-size: 0.75em; margin: 2.33em 0; }

/* .b-form input */

.b-form {}
.b-form input {
    font: normal 10pt Verdana, sans-serif; background-color: #fffeee;
    -moz-box-sizing: border-box; box-sizing: border-box;
    border: 1px solid #cde; outline-color: #cde;
    margin: 0;
}
.b-form button {
    font: normal 10pt Verdana, sans-serif;
    margin: 0;
}
.b-form select {
    font: normal 10pt Verdana, sans-serif; background-color: #fffeee;
    -moz-box-sizing: border-box; box-sizing: border-box;
    border: 1px solid #cde; outline-color: #cde;
    margin: 0;
}
.b-form textarea {
    font: normal 10pt Verdana, sans-serif; background-color: #fffeee;
    -moz-box-sizing: border-box; box-sizing: border-box;
    border: 1px solid #cde; outline-color: #cde;
    margin: 0;
    display: block;
    width: 80ex; height: 12ex;
}
.b-form label {
    font: normal 10pt Verdana, sans-serif;
    color: #22a;
    cursor: pointer;
    margin-left: 4px; margin-right: 4px;
}

.b-form .b-field {
    margin: 4px;
}

/* header */

.b-topnav {
    font-size: 9pt; border-bottom: 1px solid #eaeaea;
    padding-bottom: 3px; margin-bottom: 4px;
}
.b-topnav .dlm { font-size: 8pt; color: #aaa; }

/* footer */

.b-footer {
    margin-top: 8px; padding: 2px 10px;
    font-size: 8pt; color: #555;
    text-align: right;
    border-top: 1px solid #eaeaea;
}

/* content */

.b-page {
    margin: 2px 10px;
}

.b-page h1 {
    margin: 12px 50px 18px 50px;
}

.b-newpay {
    margin: 8px 20px;
}

.b-newpay .b-field label {
    width: 140px; float: left; text-align: right; margin: 1px 6px;
}

.b-newpay #btn_newpay { margin-left: 152px; }
.b-newpay #fld_name,
.b-newpay #fld_email { width: 40ex; }

.b-newpay #fld_amount { width: 8ex; text-align: right; }


/*-*/